* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-size: 20px;
	font-weight: 300;
}

.row {
	width: 1140px;
	margin: 0 auto;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(img/main-bg.gif);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%,-40%);
}
.hero-text h1 {
	font-size: 280%;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 4px;
	color: #fff;
	margin-bottom: 20px;
}
.span-m {
	color: tomato;
	letter-spacing: 30px;
}

.btn {
	text-decoration: none;
	display: inline-block;
	margin-right: 20px;
}

.fb-btn {
	color: #fff;
	padding: 10px 20px;
	border: 1px solid #3b5998;
	border-radius: 50%;
	background-color: #3b5998;
}

.fb-btn:hover {
	background-color: #fff;
	border-color: #3b5998;
	color: #000;
	transition: background-color 2s;
}

.gh-btn {
	color: tomato;
	border: 1px solid tomato;
	border-radius: 50%;
	padding: 10px 20px;
}

.gh-btn:hover {
	background-color: tomato;
	border-color: tomato;
	color: #fff;
	transition: background-color 2s;
}

.main-logo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	float: left;
	margin-top: 30px;
}

.main-nav {
	list-style: none;
	float: right;
	margin-top: 30px;
}

.main-nav li { 

	display: inline-block;
	margin-right: 40px;
 }

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav li a {
	text-decoration: none;
	color: #df80ff;
	font-size: 90%;
	border: 2px solid #df80ff;
	padding: 5px 30px;
	text-transform: uppercase;
}

.main-nav li a:hover {

	background-color: red;
	border-color: red;
	color: #fff;
	transition: background-color 0.6s;

}

section { padding: 50px 20px; }

.band h2 {
	font-size: 170%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 2px;
}

.band h2:after {
	content: " ";
	display: block;
	height: 2px;
	width: 100px;
	background-color: #000;
	margin: 0 auto;
	margin-top: 15px;
}

.about-text {
	font-size: 90%;
	padding: 30px 30px;
	text-align: center;
}

.band-logo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 0 0 130px;
}

.band h3 {
	text-transform: uppercase;
	font-size: 120%;
	letter-spacing: 1px;
	margin-bottom: 15px;
	text-align: center;
}

.box-p {
	font-size: 90%;
	line-height: 130%;
	text-align: justify;
	padding: 0 30px;
}

.profession {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/profession-bg.jpg);
	background-repeat: no-repeat;
	background-position: inherit;
	background-size: cover;
	ba
}

.profession h2 {
	color: #fff;
	font-size: 170%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 2px;
}

.profession h2:after {
	content: " ";
	display: block;
	height: 2px;
	width: 100px;
	background-color: rgb(255, 51, 0);
	margin: 0 auto;
	margin-top: 15px;
}

.p-p {
	font-size: 120%;
	color: #fff;
	letter-spacing: 2px;
	word-spacing: 4px;
	text-align: center;
	margin-top: 20px;
}

.heart { background-color: #5dcf72; }

.heart h2 {
	color: #000;
	font-size: 170%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 2px;
}

.heart h2:after {
	content: " ";
	display: block;
	height: 2px;
	width: 100px;
	background-color: rgb(255, 51, 0);
	margin: 0 auto;
	margin-top: 15px;
}

.heart p {
	font-size: 200%;
	letter-spacing: 2px;
	word-spacing: 2px;
	padding: 50px 50px;
}

.heart img {
	padding: 60px 20px;
	width: 100%;
	height: auto;
	transform: scale(1.02);
	transition: transform 0.5s;
	opacity: 95%;
}

.heart img:hover {
	transform: scale(1.20);
	opacity: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form h2 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.sign-up-form input {
	background: #eee;
	border: none;
	padding: 20px 20px;
	margin: 12px 0;
	width: 100%;
}

button {
	border: 1px solid #ff4b2b;
	border-radius: 20px;
	background-color: #ff4b2b;
	font-size: 12px;
	font-weight: bold;
	margin-top: 8px;
	padding: 12px 45px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
}

button:active { transform: scale(0.95); }

footer {
	background-color: #333;
	font-size: 90%;
}

footer ul {
	list-style: none;
	padding-top: 
}

footer ul {
	list-style: none;
	padding-top: 20px;
}

footer ul li {
	display: inline-block;
	margin-right: 15px;
}

footer ul li:last-child { margin-right: 0; }

.about-links { float: left; }

.social-links { float: right; }

footer a:link,
footer a:visited,
.copyright {
	text-decoration: none;
	color: #c8c8c8;
}

footer a:active,
footer a:hover {
	color: #f2f2f2;
}

.copyright {
	padding: 50px 0;
	text-align: center;
}